

自己永远是自己最好的良师益友. 想象一下，如果有成千上万个自己为自己工作，会创造出什么样的世界？这个项目正是基于这样一个有趣的思考而诞生的。


我想要的是一个平台, 每个人都可以通过人工智能技术创造无数个自己的平台, 每个人可以指挥自己的一群数字分身去做一些事情. 

我感觉你需要数字分身，你需要克隆自己，那你就需要找到那个关键因素，那就是dna. 


我现在有一些担忧就是这个想法虽然好，但是实践起来可能毫无头绪, 可能根本没法落地。对于我个人来说，目前的做法是通过这个 cursor IDE 来管理我所有的工作流程。


换一个思路来思考吧, 这个项目的核心在于要克隆自己, 那么我要克隆自己什么东西呢？我感觉最需要克隆的是自己的认知模型, 此时我想到了一个简单快速落地的方案, 呃，就是通过许多提示词, 让大模型扮演不同的角色。

确实，我好像可以这么思考, 要不我们就朝着这个思路继续往前推进一点, 我觉得一个最简单的时间就是为每个角色我写一个提示, 然后直接 @这个文档就行. 
