

第一性原理:每个人才是最懂自己的那一个, 自己永远是自己最好的良师益友. 

想象一下，如果有成千上万个自己一起协作，会创造出什么样的世界？这个项目正是基于这样一个有趣的思考而诞生的。


我们第1步当然是先要克隆一个自己, 假如有一个人工智能，能够完完整整的了解自己的过程经历, 思维模式和各种偏好, 再加上本来大模型自身无与伦比的知识储备, 那么他自然是对自己帮助很大的一个克隆体. 我想要的是一个平台, 每个人都可以创造自己的克隆体, 和它聊天和工作, 因为他对我的了解是最多的, 所以它能给予我最好的帮助. (一个大模型回答问题的效果, 取决于上下文 + 模型自身智能水平, 自己的克隆体主要就是能基于对自身的了解能给出更好的上下文)


未来无论进入一个什么样的社会, 一个最基本的道理就是某个人去创造价值, 人工智能它的意义在于帮助每个个体人类去创造更多价值。假如离开了人类赋予的目标和意义, 那人工智能会变成什么样子就不是我目前能够想象得到的。也许人工智能在自我的隐患过程中会找到自己的目标和意义, 也许他们会创造一个完全没有人类的世界, 但是完全没有人类的人工智能世界需要我作为人类去思考吗？不需要，没有意义。所以, 有意义的事情是, 也就是我们这个项目的项目的基本逻辑是, 人类自身的数字分身协助人类个体去实现其自身的目的和价值。用大白话说, 每个人可以指挥自己的一个数字分身去做一些事情, 由于人工智能系统是可以轻易复制的软件系统, 更高级的做法是我们自然也可以指挥一群数字分身协作，然后去完成目标实现价值。



我感觉你需要数字分身，你需要克隆自己，那你就需要找到那个关键因素，那就是dna. 不管你怎么思考，你把自己克隆出来，一定是一件非常困难的事情。那为什么非常复杂呢？
- 人本身会扮演多个不同的角色，有多种不同的思维模式
- 具身智能本身就是一个非常难的课题，你怎么可能克隆自己出来呢.


所以我们需要启发式. 思考对于我个人来说，目前的做法是通过这个 cursor IDE 来管理我所有的工作流程。


换一个思路来思考吧, 这个项目的核心在于要克隆自己, 那么我要克隆自己什么东西呢？我感觉最需要克隆的是自己的认知模型, 此时我想到了一个简单快速落地的方案, 呃，就是通过许多提示词, 让大模型扮演不同的角色。

确实，我好像可以这么思考, 要不我们就朝着这个思路继续往前推进一点, 我觉得一个最简单的时间就是为每个角色我写一个提示, 然后直接@这个文档就行. 好像这个是确实是最简单快速实现的。


我还有很多个常用的思维模式，


2024秋季校友 Skylow｜奇绩创业营路演日回放
 “北美的 AI clone 平台” 

Skylow 是 AI 时代的互动型 YouTube，正在开发一款 mobile app，能够克隆用户，使它和其他人以文字、语音和视频的形式聊天互动。在大语言模型（LLM）的智力超越人类之前（即 LLM 没有很好的功能性目的时），从网红市场入手，来克隆用于娱乐的网红。未来，Skylow 会克隆任何人，无论 Elon Musk 或是陆奇（Qi）。



目前有很多的 AI 声音克隆平台(也有其他的克隆人的语言语气), 我们不是这个, 我们优先去完成的任务是clone me 在现实生活中扮演的各种认知角色. 

假如有一万个我, 我安排100个去搞数学研究, 一百个去开发产品, 一百个去搞物理研究, 一百个去写博客, 一百个去写计算机论文, 一百个 ....


我的一个观察是只有克隆自己, 我们永远是最了解自己的人, 所以我们的平台只会只允许克隆自己, 我们引导用户去想一想如何复制自己的能力, 每个自己的克隆体都是自己某方面能力的一个复制。


- 第一步的话是kol 使用这个平台 clone 自己专业能力的某个维度?
- 我觉得有一个始终存在的矛盾, 那就是一个人的能力，能被人工智能系统克隆之后, 那么这个能力就。那么这个能力就不再是稀缺的能力了? 真正稀缺的能力是一个人把他各个方面的维度的能力组合起来使用, 创新是各种想法的连接, 一个人能力的强大根源在于综合能力. 所以每个个体的能力都是一系列的流程组合。就让我想到了一个事情，就是你对某一个事情的数据结构有所限制之后，他反而能够得到那种最高效的算法。比如 stack, 我们需要解决的永远是一个受约束的优化问题。
- 这个时候其实我还有一个非常深深的担忧, 假如 Elon Musk 可以把自己复制成1万个克隆体, 那么是不是全世界都找他做ceo就够了？这个问题不解决，你整个项目的基础逻辑肯定就不存在了。我是这么想这个问题的, 1) 这个项目肯定能帮到我自己，因为我有很多思维模式有时候不能及时的使用, 2) 虽然我不如 Elon Musk, 但是我也有很多独特的经验, 独特的思维模式, 一定在某些问题上是比伊隆马斯克更加强大的存在。


我们其实在思考一个最基础的, 这个平台这个项目如何真正的创造价值？我们目前的答案是, 自己是自己最好的良师益友, 一群自己的克隆体, 能最大程度地提升自己的效率。这个确实是我最独特的一个思考。我感觉这里有个第一性原理, 不管是任何人, 比你自己更懂自己的上下文, 这就是最核心的优势. 不同的模型有不同的智能水平，但是回答问题的效果很大的，取决于模型对上下文的理解, me 这个克隆自己项目, 之所以能为每个用户创造价值, 是因为别人不了解你, 他智商再高能力再强又如何呢? 所以别人的智能体，他能提供给你视角, 但是他没有你的一手信息，不懂你怎么可能给你更好的帮助呢?  

我们不是 AI clone, 我们的项目是 me clone, 所以我们是最能帮助到用户的 AI clone 平台, 帮助到每一个用户，让这个平台用了巨大的价值。当然了，你想要帮助到每一个用户，你就必须先帮助到自己。


嗯，从一个个性化的视角来看的话, 我现在用一种最简单的逻辑来跟你讲一讲这个项目。首先我需要有每个人的过往经历，思维模式偏好等等等等各个方面的信息。然后因为我们的智能体懂这些信息，所以他就有了更好的上下文。当然我们每个人的信息是非常非常多的，那这个智能体还需要一个功能，就是挑选合适的信息。 然后基于这样的背景，我们再去问模型的问题, 那么大模型，自然会给我们更好的回答。所以这个智能体, 我感觉有点像一个上下文管理器. 你觉得这个思路和视角怎么样？



- 传统的推荐系统通过人过往的交互行为, 来推荐人可能感兴趣的内容. 是被动式的推荐
- 传统的搜索系统, 通过人输入的搜索关键词, 来推荐人可能感兴趣的内容. 是主动式的搜索
- 现在的 AI IDE 是两者的结合, 既有主动式的开发目的, 又有被动式的推荐.

所以我们要做的事情是升级这个 AI IDE, 让 AI IDE 能够更好的帮助到用户智能体, 成为用户最好的个性化助手. IDE 的强大能力, 让其既能够成理解和执行用户意图, 有能够很好存储用户过往经验和记忆. 每个用户拥有一个独属于他自己的智能体!


我试图在区分人类和机器的不同角色。
- 人类提供意图和目的, everything starts with a question
- 智能体提供上下文, 智能体提供记忆


此时我需要描述分类清楚, 那些场景需要个人的上下文, 那些场景不需要?


我在想, 如果这个社会大多数人都和我一样的认知, 那么这个社会会变成什么样子? 会是一个理想社会吗? 我认识肯定是的, 肯定是一个非常高效的社会, 每个人都会在做着诺贝尔奖级别的有趣事情, 每个人都会在创造着巨大的价值, 在推动人类文明向前快速发展. 

人类个人为什么要繁殖? 与自己基因/文化相同的群体显然能够更好的协作, 所以某种意义上人类个体繁殖的目的是为了更好的协作. Me 项目就是帮助每个个体, 与自己的数字分身协作, 帮助每个个体创造更大的价值. **人类个体是最好的上下文管理器, 更多是管理智能**, 智能体/数字分身作为硅基生命有其记忆优势, 怎么说呢? 人类个体有更多的高屋建瓴的提取信息的能力, 是提供目标和意义的主体, 目标和意义是不是可以理解成一种高级的上下文管理？


智能体提供 context, 人类个体提供 task. context + task --> propose a solution. 